<header>
  <nav class="navbar navbar-expand-sm navbar-light bg-light">

    <a href="/" class="navbar-password">PasswordKeepR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="/password_gen" class="nav-link"> Create Password </a>
        </li>
      </ul>
    </div>
