<header>
  <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <a href="/" class="navbar-password">PasswordKeepR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/password_gen">Create New Password</a>

      </div>

    </div>

<div class="header">
  <div class="links">



</header>
