<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

    <!-- Boostrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">


  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
    <!-- login page form -->
    <section class='login_form'>
      <form action='/login' method='POST' class='form-group'>
        <div class='login-col'>
          <input type='email' name='email' placeholder='username'>
        </div>
        <div class='login-col'>
          <input type='password' name='password' placeholder='Password'>
        </div>
        <button type='submit'>Login</button>
      </form>
    </section>
</body>

</html>
